<h1>Liste des livres</h1>
<%= image_tag "butterfly.png", alt: "butterfly", width: 64, height: 64 %>
<br /><br />
<% @books.each do |book| %>
<p><a href="/books/<%= book.id %>">
  <% if book.category %>
    <%= book.title %> (<%= book.category.name %>)
  <% else %>
    <%= book.title %>
  <% end %>
</a></p>
<% end %>

<%= render "books/form" %><br /><br /><br />
