<h1>Liste des livres</h1>

<% @books.each do |book| %>
<p><a href="/books/<%= book.id %>">
  <% if book.category %>
    <%= book.title %> (<%= book.category.name %>)
  <% else %>
    <%= book.title %>
  <% end %>
</a></p>
<% end %>

<%= render "books/form" %>
